@page "/categorias"
@inherits ListCategoriesPage

<MudText Typo="Typo.h3">Categorias</MudText>
<div class="d-flex justify-end">
    <MudButton
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="@Icons.TwoTone.Add"
        Href="/categorias/adicionar">
        NOVA CATEGORIA
    </MudButton>
</div>

<MudDataGrid
    Class="mt-4"
    Items="@Categories"
    Filterable="true"
    QuickFilter="Filter"
    Hideable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Categorias</MudText>
        <MudSpacer/>
        <MudTextField
            @bind-Value="SearchTerm"
            Placeholder="Filtrar..."
            Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search"
            Immediate="true"
            IconSize="Size.Medium"
            Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#"/>
        <PropertyColumn Property="x => x.Title" Title="Categoria"/>
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton 
                        Icon="@Icons.Material.Filled.Edit"
                        Href="@($"/categorias/editar/{context.Item.Id}")"
                        Color="Color.Primary">
                    </MudIconButton>
                    <MudIconButton 
                        Icon="@Icons.Material.Filled.Delete"
                        Color="Color.Error"
                        aria-label="Excluir"
                        OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Title)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>